.container-project {
  background-color: #F0F5F9 !important;

  .MuiTypography-root,
  .MuiGrid-root,
  .MuiTableCell-root {
    color: #1E2022 !important;
  }

  .card-project {
    background-color: white;
  }
}