.container-tech-stack {
  background-color: #F0F5F9 !important;

  .MuiTypography-root,
  .MuiGrid-root {
    color: #F0F5F9 !important;
  }

  .card-tech-stack {
    background-color: #1E2022;
  }

  // .MuiIconButton-root {
  //   :hover {
  //     background-color: #EEEEEE !important;
  //   }
  // }
}